body {
	cursor:default;
	FONT-SIZE: 12px;
}
table {
	font-size: 12px;
	border: none;
}
a {
	text-decoration:none;
}
.button0 {
	font-size: 12px;
	color: #FFFFFF;
	width: 118px;
	height: 22px;
	background-image: url("../images/button0.gif");
	border: none;
	padding-top: 3px;
}
.button1 {
	font-size: 12px;
	width: 60px;
	height: 21px;
	background-image: url("../images/button1.gif");
	border: none;
	padding-top: 3px;
}
.button2 {
	font-size: 12px;
	color: #FFFFFF;
	width: 118px;
	height: 22px;
	background-image: url("../images/button2.gif");
	border: none;
	padding-top: 3px;
}
.face   {
	border: 1px solid #EBF2FC;
	POSITION: relative;
}
.face-1 {
	border-top: 1px solid #ffffff;
	border-right: 1px solid #666666;
	border-bottom: 1px solid #666666;
	border-left: 1px solid #ffffff;
	Text-align: left;
}
.face-2 {
	border-top: 1px groove #666666;
	border-right: 1px groove #ffffff;
	border-bottom: 1px groove #ffffff;
	border-left: 1px groove #666666;
	Text-align: left;
}
.FileListBig {
	height: 47px;
	width: 100%;
	text-align: left;
	padding: 1px;
	padding-top: 1px;
	border: 0px solid;
}
.FileListTitle {
	width:100%;
	height:15px;
	overflow:hidden;
}
.tddown {
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #666666;
	border-right-color: #eeeeee;
	border-bottom-color: #eeeeee;
	border-left-color: #666666;
	margin: 0px;
	padding: 0px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
}
.but {
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #FFFFFF;
	border-right-color: #666666;
	border-bottom-color: #666666;
	border-left-color: #FFFFFF;
	background:"images/4_r3_c4.gif"
	margin: 0px;
	padding: 0px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
}
.but2 {
	cursor: hand;
}
.inp {
	background:#ffffff; border:#BFCEDC 1px solid; font-size:12px; height:20px; width:130px
}
.select {
	color: #FFFFFF;
	background-color: #08246b;
}
.textarea {
	overflow: auto;
	height: 180px;
	text-align: left;
	border: 2px inset;
	font-family: "ו";
	background-color: #FFFFFF;
}

.Hand_Off {
	Text-align: center;
}
.Hand_On {
	
	background-color : #C6D3EF;
	Text-align: center;
	cursor: pointer;
	
}

.headtd1 {  background: #f5fbfe; border: 1px outset; border-color: #00BBFF #0077FF #0077FF #00BBFF; cursor: hand; font-size: 9pt}
.headtd2 {  background: #d2eaf6; border: 1px outset; border-color: #60D3FF #0077FF #0077FF #60D3FF; cursor: hand; font-size: 9pt}
.bodytd  {  background: white; border: 1px outset; border-color: #B0D8FF #0077FF #0077FF #B0D8FF; font-size: 9pt}
td{font-size:9pt}
body{font-size:9pt}
a {  font-size: 9pt; color: #0066CC; text-decoration: none}
a:hover {  font-size: 9pt; color: #990000}