body {
	cursor:default;
	FONT-SIZE: 12px;
}
table {
	font-size: 12px;
	border: none;
}
a {
	text-decoration:none;
}
.button0 {
	font-size: 12px;
	color: #FFFFFF;
	width: 118px;
	height: 22px;
	background-image: url("../images/button0.gif");
	border: none;
	padding-top: 3px;
}
.button1 {
	font-size: 12px;
	width: 60px;
	height: 21px;
	background-image: url("../images/button1.gif");
	border: none;
	padding-top: 3px;
}
.button2 {
	font-size: 12px;
	color: #FFFFFF;
	width: 118px;
	height: 22px;
	background-image: url("../images/button2.gif");
	border: none;
	padding-top: 3px;
}
.face   {
	border: 1px solid #EBF2FC;
	POSITION: relative;
}
.face-1 {
	border-top: 1px solid #ffffff;
	border-right: 1px solid #666666;
	border-bottom: 1px solid #666666;
	border-left: 1px solid #ffffff;
}
.face-2 {
	border-top: 1px groove #666666;
	border-right: 1px groove #ffffff;
	border-bottom: 1px groove #ffffff;
	border-left: 1px groove #666666;
}
.FileListBig {
	height: 47px;
	width: 100%;
	text-align: center;
	padding: 1px;
	padding-top: 1px;
	border: 0px solid;
}
.FileListTitle {
	width:100%;
	height:15px;
	overflow:hidden;
}
.tddown {
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #666666;
	border-right-color: #eeeeee;
	border-bottom-color: #eeeeee;
	border-left-color: #666666;
	margin: 0px;
	padding: 0px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
}
.but {
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #FFFFFF;
	border-right-color: #666666;
	border-bottom-color: #666666;
	border-left-color: #FFFFFF;
	background-color: menu;
	margin: 0px;
	padding: 0px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
}
.but2 {
	cursor: hand;
}
.inp {
	background:#ffffff; border:#BFCEDC 1px solid; font-size:12px; height:20px; width:130px
}
.select {
	color: #FFFFFF;
	background-color: #08246b;
}
.textarea {
	overflow: auto;
	height: 180px;
	text-align: left;
	border: 2px inset;
	font-family: "ו";
	background-color: #FFFFFF;
}
